<table class="ui basic large table table">
  <thead>
    <tr>
      <th class="six wide">Период</th>
      <th class="five wide">Эфириум</th>
      <th class="five wide">Доллары</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <h4 class="ui header">
          <div class="content">
            <div class="sub header">Час</div>
          </div>
        </h4>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <h4 class="ui header">
          <div class="content">
            <div class="sub header">День</div>
          </div>
        </h4>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <h4 class="ui header">
          <div class="content">
            <div class="sub header">Неделя</div>
          </div>
        </h4>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <h4 class="ui header">
          <div class="content">
            <div class="sub header">Месяц</div>
          </div>
        </h4>
      </td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
