<div class="ui small form">
  <div class="ui labeled input field">
    <div class="ui basic label">Хэшрейт</div>
    <input type="text" placeholder="в MH/S..">
  </div>

  <div class="ui labeled input field">
    <div class="ui basic label">Хэшрейт сети</div>
    <input type="text" placeholder="в GH/S..">
  </div>

  <div class="ui labeled input field">
    <div class="ui basic label">Время блока</div>
    <input type="text" placeholder="в секундах..">
  </div>

  <div class="ui labeled input field">
    <div class="ui basic label">Цена за 1eth</div>
    <input type="text" placeholder="в долларах..">
  </div>

  <div class="ui labeled input field">
    <div class="ui basic label">Мощность</div>
    <input type="text" placeholder="в ваттах..">
  </div>

  <!--
  <div class="ui labeled input field">
    <div class="ui basic label">Тариф</div>
    <input type="text" placeholder="в Руб/КВ/ч..">
  </div>
  -->

</div>
