<div class="ui vertical stripe segment">
  <div class="ui top aligned stackable grid container">
    <div class="row">
      <div class="center aligned column">
        <h3 class="ui header">Запись на Новогоднюю съемку (студия атмосфера)</h3>
        <p>
        Внимание! запись только на 11, 12, 25, 26 ноября<br>
        На 9, 10, 24 декабря &mdash; все время забронировано.
        </p>
        <p>Стоимость съемки:<br>
        30 минут &mdash; 3 000 руб.<br>
        1 час &mdash; 4 800 руб.<br>
        <small>(аренда студии включена в цену)</small>
        </p>

        <div class="ui form" id="doctorBox"></div>

      </div>
    </div>

    <div class="row">
      <div class="ui stackable centered grid container column">
        <div class="eight wide column">
          <div class="ui centered grid" id="datepicker"></div>
        </div>
        <div class="seven wide column">
          <div id="timeSlots"></div>
        </div>
      </div>
    </div>

  </div>
</div>
