<div class="ui vertical stripe segment">
  <div class="ui top aligned stackable grid container">
    <div class="row">
      <div class="center aligned column">
        <h3 class="ui header">Генератом ядра ключевых фраз</h3>

        <div class="ui form" id="keywordBox"></div>

      </div>
    </div>

    <div class="row">
      <div class="ui stackable left grid container column">
        <div class="seven wide column">
          <div id="timeSlots"></div>
        </div>
        <div class="eight wide column">
          <div class="ui centered grid" id="datepicker"></div>
        </div>
      </div>
    </div>

  </div>
</div>
