<div class="ui small modal" id="deviceModal">
  <i class="close icon"></i>
  <div class="header">
    Загрузить конфигурацию
  </div>
  <div class="content">
    <div class="ui small form">
      <div class="ui labeled input field">
        <div class="ui basic label">Производитель</div>
        <input name="" type="text" value="" placeholder="">
      </div>
      <div class="ui labeled input field">
        <div class="ui basic label">Модель видеокарты</div>
        <input name="" type="text" value="" placeholder="">
      </div>
      <div class="ui labeled input field">
        <div class="ui basic label">Операционная система</div>
        <input name="" type="text" value="" placeholder="">
      </div>
      <div class="ui labeled input field">
        <div class="ui basic label">Версия драйвера</div>
        <input name="" type="text" value="" placeholder="">
      </div>
      <div class="ui labeled input field">
        <div class="ui basic label">Ссылка на майнер</div>
        <input name="" type="text" value="" placeholder="">
      </div>
      <div class="ui labeled input field">
        <div class="ui basic label">Алгоритм</div>
        <input name="" type="text" value="" placeholder="">
      </div>
      <div class="ui labeled input field">
        <div class="ui basic label">Энергопотребление</div>
        <input name="" type="text" value="" placeholder="">
      </div>
    </div>
  </div>

  <div class="actions">

    <div class="ui black deny button">
      Отмена
    </div>
    <div class="ui positive right labeled icon button">
      Сохранить
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
