<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">О проекте</h4>
        <div class="ui inverted link list">
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Как это работает</h4>
        <div class="ui inverted link list">
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Запись к врачу</h4>
        <p>Выбери удобное для тебя время и запишись на прием к врачу за две минуты</p>
      </div>
    </div>
  </div>
</div>
