<div class="ui inverted vertical center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a href="/" class="active item">Главная</a>
      <a href="/" class="item">Табилца видеокарт</a>
      <a href="{% url 'calculator-ethereum' %}" class="item">Калькулятор эфириума</a>
      <a href="{% url 'coin-ethereum' %}" class="item">Курс эфириума</a>
      <a class="item">Биржи и обменники</a>
      <div class="right item">
        <a class="ui inverted button">Загрузить свою конфигурацию</a>
      </div>
    </div>
  </div>
</div>
