<div class="ui inverted vertical center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a class="active item">Главная</a>
      <a class="item">Как это работает</a>
      <a class="item">О проекте</a>
      <div class="right item">
        <a class="ui inverted button">Войти</a>
        <a class="ui inverted button">Регистрация</a>
      </div>
    </div>
  </div>
</div>
