{% extends 'base.html' %}

{% block content %}
  <div class="ui vertical stripe segment">
    <div class="ui top aligned stackable grid container">

      <div class="row">
        <div class="center aligned column">
          <h3 class="ui header">Калькулятор майнинга эфириума (eth)</h3>

          <div class="ui middle aligned grid" id="calculatorBox">
          </div>

        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block extrajs %}
<script src="//alpha61.com/ethereum.json"></script>
{% endblock %}
