{% extends 'base.html' %}
{% load front_tags %}

{% block content %}
  <div class="ui vertical stripe segment">
    <div class="ui top aligned stackable grid container">

      <div class="row">
        <div class="column">
          {% front_edit "content_header" request.path %}
            <h1 class="ui center aligned header">Калькулятор майнинга эфириума (eth)</h1>
            <div class="ui center aligned sub header">Короткое описание</div>
          {% end_front_edit  %}
          <br>
          <script>
            window.deviceId = '{{ id }}';
          </script>
          <div class="ui middle aligned grid" id="calculatorBox"></div>

        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block extrajs %}
<script src="//alpha61.com/ethereum.json"></script>
{% endblock %}
