{% extends 'base.html' %}

{% block content %}
  <div class="ui vertical stripe segment">
    <div class="ui top aligned stackable grid container">

      <div class="row">
        <div class="center aligned column">
          <h1 class="ui header">Курс Эфириума (eth) - график</h1>

          {% include '_chart.html' %}
          <div id="chartBox"></div>

        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block extrajs %}
<script src="//alpha61.com/ethereum.json"></script>
{% endblock %}
