{% load i18n %}
{% verbatim %}

<script id="keyword-box-template" type="text/ractive">
  <div class="ui search field">
    <input class="prompt" type="text" value="{{query}}" placeholder="Напиши ключевую фразу" name="query" id="keyword-query">
  </div>

  <div class="field">
    <select class="ui dropdown" value="{{selectedDoctor}}">
      <option value="">Выберите врача</option>
      {{#each keywords}}
        <option value="{{id}}">{{name}} ({{speciality}})</option>
      {{/each}}
    </select>
  </div>
</script>
{% endverbatim %}
