{% load i18n %}
{% verbatim %}

<script id="time-slots-template" type="text/ractive">
  <div class="ui page dimmer">
    <div class="content">
      <div class="center">
        <h1 class="ui inverted icon header">
          Вы успешно записаны к врачу
        </h1>
      </div>
    </div>
  </div>

  <div class="ui styled fluid accordion">

    {{#each reports}}
      <div on-click="showForm" class="title">
        <i class="large {{disabled(hour) ? 'red' : 'green' }} clock middle aligned icon"></i>
        <span class="text">{{wordstat_id}} ({{data.length}}) </span>
      </div>

      <div class="content order">
        <p>Отчет {{formatDay(date_created, 'DD MMM YYYY')}}</p>

        {{#if errors}}
        <div class="ui error message">
          <div class="header">Мы не смогли вас записать</div>
          <ul class="list">
            {{#each errors.reports}}
            <li>{{@key}}. {{this}}</li>
            {{/each}}
            {{#if errors.day_of_week}}
            <li>Вы не выбрали день недели</li>
            {{/if}}
          </ul>
        </div>
        {{/if}}

        {{#if success}}
        <div class="ui success message">
          <div class="header">Вы записаны на прием к врачу</div>
        </div>
        {{/if}}

        <div class="ui row">
          <div class="ui inverted dimmer">
            <div class="ui text loader">Секундочку</div>
          </div>
          <div class="ui items">
            {{#each data}}
            <div class="item">
              <div class="content">
                <a href="#" class="header">{{Phrase}}</a>
                <div class="description">
                  <a on-click="showWordstatAlso:{{this}}" title="Ищут также" href="#" class="ui label">
                    <i class="meh icon"></i> 
                    {{SearchedAlso.length}}
                  </a>
                    <a on-click="showWordstatWith:{{this}}" title="Подзапросы" class="ui label">
                    <i class="fork icon"></i> 
                    {{SearchedWith.length}}
                  </a>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>

      </div>
    {{/each}}
  </div>
</script>

{% endverbatim %}
