{% load i18n %}
{% verbatim %}

<script id="time-slots-template" type="text/ractive">
  <div class="ui fluid vertical menu">

    {{#each slots}}
    <a on-click="showForm" class="{{#active}}active{{/active}} {{#if disabled(hour)}}disabled{{/if}} item">
      <div class="content">
      <i class="large {{disabled(hour) ? 'red' : 'green' }} clock middle aligned icon"></i>
      <span class="text">{{hour_title}} {{#if active && !disabled(hour)}}({{formatDay(selectedDay, 'DD.MM.YYYY')}}) - записаться на прием{{/if}}</span>
      </div>

      {{#if !disabled(hour)}}
      <div class="content transition hidden order">
        <div class="ui divider"></div>

        {{#if errors}}
        <div class="ui error message">
          <div class="header">Мы не смогли вас записать</div>
          <ul class="list">
            {{#each errors.patient}}
            <li>{{@key}}. {{this}}</li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
        {{#if success}}
        <div class="ui success message">
          <div class="header">Вы записаны на прием к врачу</div>
        </div>
        {{/if}}

        <div class="ui {{#if errors}}error{{/if}} {{#if success}}success{{/if}} form">
          <div class="two fields">
            <div class="field">
              <input placeholder="Ваше имя" type="text" value="{{patient.first_name}}">
            </div>
            <div class="field">
              <input placeholder="Ваша фамилия" type="text" value="{{patient.last_name}}">
            </div>
          </div>
          <div class="field">
            <textarea rows="2" placeholder="Дополнительная информация" value="{{patient.info}}">{{patient.info}}</textarea>
          </div>
          <button on-click="submit" class="ui button" type="submit">Записаться</button>
        </div>
      </div>
      {{/if}}
    </a>
    {{/each}}
  </div>
</script>

{% endverbatim %}
